*{margin: 0;}

.Banner{float: left; width : 100%; background-color: bisque;}

.Banner img{width: 50%; width: 450px; height: 250px; padding-left: 450px;}

.Content{float: left; width: 100%; padding: 15px; }

.center{text-align: center;}


 .Resultado{display:none; float:left; width: 70%; height: 100px; margin: 20px 15% 10px 15%;}

.Nav{float:left; width: 100%; background: #000;}
.Nav li{float:left; width: 25%; text-align: center;list-style: none;}
.Nav a{display:block; width: 100%; padding: 10px 0; color: #fff; font-weight: bold; text-decoration: none;}
.Nav a:hover{background: #666;}

.FormularioInput{float:left; width:50%; padding: 0 25%;}
.FormularioInput input[type='text']{width: 100%;height: 45px;}
.FormularioInput100{width:  100% !important;}
.FormularioBtn input[type='submit']{display:inline-block; padding: 10px 30px; background: #000000; color: #fff;font-weight: bold; text-align: center; border-radius: 10px;margin:  15px 0;}
.FormularioBtn{float:left; width:50%; padding-right: 3px;}
.Formulario{float:left; width: 70%; height: 300px; margin: 20px 15%;}